Repository GaryOcean428/gary-zero: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ruff check --fix, black, isort

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{py}": [
    "ruff check --fix",
    "black",
    "isort"
  ],
  "*.{json,md,css,html}": [
    "prettier --write"
  ]
}

Fix Node.js version mismatch causing deployment failures (#205)
  .node-version
  package.json
Due: prettier --write

[WIP] FastAPI serving JSON API response instead of web UI (#209)
  main.py
Due: none

Extract MCP modules into shared library for cross-repository reuse (#210)
  framework/helpers/mcp_handler.py
  framework/helpers/mcp_handler_compat.py
  framework/helpers/mcp_server.py
  framework/helpers/mcp_server_compat.py
  shared_mcp/EXAMPLES.md
  shared_mcp/MIGRATION.md
  shared_mcp/README.md
  shared_mcp/__init__.py
  shared_mcp/client/__init__.py
  shared_mcp/protocols/__init__.py
  shared_mcp/pyproject.toml
  shared_mcp/server/__init__.py
  shared_mcp/tests/__init__.py
  shared_mcp/tests/test_backward_compatibility.py
  shared_mcp/tests/test_shared_mcp.py
  shared_mcp/tools/__init__.py
  shared_mcp/types/__init__.py
Due: prettier --write

Implement comprehensive route check, typecheck, lint, error boundaries, and dependency validation system (#212)
  .bundlesizerc.json
  .unimportedrc.json
  ROUTE_CHECK_DOCUMENTATION.md
  dependency-check-results.json
  health-check-results.json
  package-lock.json
  package.json
  scripts/dependency-check.py
  scripts/health-check.py
  scripts/regenerate_requirements.py
  scripts/route-check.py
  scripts/test_searchxng.py
  tsconfig.json
  webui/index.js
  webui/js/settings.js
  webui/types/globals.d.ts
Due: eslint --fix, prettier --write

[STRATEGIC] Migrate from Dockerfile to Railpack for 37-77% smaller images (#222)
  railpack.json
  railway.toml
Due: prettier --write

Refactor MCP implementation to use shared_mcp library across repositories (#223)
  pyproject.toml
  requirements.in
  requirements.txt
  shared_mcp/shared_mcp.egg-info/PKG-INFO
  shared_mcp/shared_mcp.egg-info/SOURCES.txt
  shared_mcp/shared_mcp.egg-info/dependency_links.txt
  shared_mcp/shared_mcp.egg-info/requires.txt
  shared_mcp/shared_mcp.egg-info/top_level.txt
Due: none

Integrate new tools with unified remote session management system (#230)
  docs/session_management.md
  examples/session_workflows.py
  framework/session/__init__.py
  framework/session/connection_pool.py
  framework/session/implementations/__init__.py
  framework/session/implementations/anthropic_session.py
  framework/session/implementations/claude_code_session.py
  framework/session/implementations/gemini_session.py
  framework/session/implementations/kali_session.py
  framework/session/integration.py
  framework/session/session_config.py
  framework/session/session_interface.py
  framework/session/session_manager.py
  framework/tools/session_enhanced_tools.py
  tests/session/test_session_management.py
Due: prettier --write

Implement asynchronous task orchestration & adaptive scheduler with 48%+ performance improvement (#225)
  demo_orchestration.py
  demo_working_features.py
  docs/async_orchestration.md
  examples/orchestration_integration.py
  framework/helpers/async_orchestrator.py
  framework/helpers/enhanced_scheduler.py
  framework/helpers/orchestration_config.py
  test_core_orchestration.py
  test_orchestration_validation.py
  tests/test_async_orchestration.py
Due: prettier --write

Implement dynamic plugin registry and runtime tool loader system (#227)
  .gitignore
  PLUGIN_DEVELOPMENT_GUIDE.md
  agent.py
  debug_plugin.py
  framework/helpers/plugin_prompts.py
  framework/plugins/__init__.py
  framework/plugins/base.py
  framework/plugins/loader.py
  framework/plugins/manager.py
  framework/plugins/registry.py
  framework/plugins/security.py
  plugin_manager.py
  plugins/calendar_integration/plugin.json
  plugins/calendar_integration/plugin.py
  plugins/data_summariser/plugin.json
  plugins/data_summariser/plugin.py
  plugins/note_taker/plugin.json
  plugins/note_taker/plugin.py
  plugins/simple_test/plugin.json
  plugins/simple_test/plugin.py
  plugins/slack_notifier/plugin.json
  plugins/slack_notifier/plugin.py
  plugins/weather_tool/plugin.json
  plugins/weather_tool/plugin.py
  test_agent_integration.py
  test_complete_system.py
  test_plugin_execution.py
  test_plugins.py
Due: prettier --write

Implement comprehensive approval workflow system for high-risk actions (#229)
  approval_config.json
  docs/approval_workflow.md
  framework/security/__init__.py
  framework/security/approval_config.py
  framework/security/approval_decorators.py
  framework/security/approval_interface.py
  framework/security/approval_workflow.py
  framework/security/audit_logger.py
  framework/tools/anthropic_computer_use.py
  framework/tools/claude_code.py
  framework/tools/shell_execute.py
  requirements.txt
  tests/security/test_approval_workflow.py
Due: prettier --write

Implement unified logging, monitoring & benchmarking framework for Gary-Zero (#231)
  IMPLEMENTATION_COMPLETE.md
  UNIFIED_FRAMEWORK_DOCS.md
  benchmark_results/summarize_research_paper_default_1753196930.json
  benchmark_results/summary_report_1753196930.json
  create_visualizations.py
  framework/api/monitoring.py
  framework/benchmarking/__init__.py
  framework/benchmarking/analysis.py
  framework/benchmarking/harness.py
  framework/benchmarking/reporting.py
  framework/benchmarking/tasks.py
  framework/logging/__init__.py
  framework/logging/hooks.py
  framework/logging/storage.py
  framework/logging/unified_logger.py
  gary_zero_cli.py
  integration_demo.py
  main.py
  test_benchmark_results/summarize_research_paper_test_config_1753196487.json
  test_framework.py
  test_logs.db
  visualization_benchmark_results/generate_sorting_algorithm_creative_1753196847.json
  visualization_benchmark_results/generate_sorting_algorithm_local_1753196847.json
  visualization_benchmark_results/generate_sorting_algorithm_optimized_1753196847.json
  visualization_benchmark_results/summarize_research_paper_creative_1753196847.json
  visualization_benchmark_results/summarize_research_paper_local_1753196847.json
  visualization_benchmark_results/summarize_research_paper_optimized_1753196847.json
  visualizations/benchmark_comparison.png
  visualizations/event_distribution.png
  visualizations/performance_summary.html
  visualizations/performance_timeline.png
Due: prettier --write

Enhance planner with explicit task decomposition & evaluation loops (#224)
  docs/hierarchical-planning.md
  examples/demo_hierarchical_planning.py
  framework/helpers/enhanced_scheduler.py
  framework/helpers/hierarchical_planner.py
  framework/helpers/plan_evaluation.py
  framework/helpers/planner_config.py
  framework/tests/tools/test_end_to_end_scenarios.py
  framework/tests/tools/test_hierarchical_planner.py
  framework/tests/tools/test_hierarchical_planner_core.py
  framework/tools/planning_tool.py
Due: prettier --write

Establish comprehensive automated testing framework & CI/CD pipeline with coverage and performance tests (#232)
  .env.example
  .github/workflows/python-package.yml
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  TESTING_IMPLEMENTATION.md
  docs/TESTING.md
  framework/helpers/execution_mode.py
  framework/helpers/kali_service.py
  framework/session/implementations/kali_session.py
  framework/session/session_config.py
  pyproject.toml
  pytest.ini
  railpack.json
  railway.toml
  requirements-dev.txt
  tests/conftest.py
  tests/integration/test_multi_agent_coordination.py
  tests/performance/test_benchmark_suite.py
  tests/test_environment.py
  tests/unit/test_a2a_communication.py
  tests/unit/test_performance_monitor.py
  vitest.config.js
Due: eslint --fix, prettier --write

Fix Railway deployment failure: Invalid local package reference in requirements.txt (#243)
  Dockerfile
  framework/plugins/manager.py
  framework/tools/planning_tool.py
  framework/tools/shell_execute.py
  requirements.txt
  tests/conftest.py
Due: none

Remove hardcoded credentials and synchronize dependencies (#244)
  .env.example
  .secrets.baseline
  CREDENTIALS_MANAGEMENT.md
  framework/helpers/settings.py
  requirements.txt
Due: prettier --write

Delete railway.toml
  railway.toml
Due: none

Create railpack.json
  railpack.json
Due: prettier --write

Update framework/helpers/config_loader.py
  framework/helpers/config_loader.py
Due: none

Update framework/helpers/template_helper.py
  framework/helpers/template_helper.py
Due: none

Update test_railway_deployment.py
  test_railway_deployment.py
Due: none

Update startup_validation.py
  startup_validation.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update main.py
  main.py
Due: none

fix lint and typecheck
  framework/helpers/settings.py
  test_railway_deployment.py
  tsconfig.json
  webui/js/activity-monitor.js
Due: eslint --fix, prettier --write

fix: resolve lint and typecheck issues
  framework/helpers/settings.py
  test_railway_deployment.py
  tsconfig.json
  webui/js/activity-monitor.js
Due: eslint --fix, prettier --write

fix: resolve lint and typecheck issues (#273)
  framework/helpers/settings.py
  test_railway_deployment.py
  webui/js/activity-monitor.js
Due: eslint --fix, prettier --write

Fix plugin packaging and update start scripts
  examples/__init__.py
  framework/api/tunnel_proxy.py
  framework/helpers/kali_service.py
  framework/helpers/shell_ssh.py
  framework/helpers/task_models.py
  framework/helpers/task_scheduler_backup.py
  framework/session/implementations/kali_session.py
  plugins/calendar_integration/__init__.py
  plugins/data_summariser/__init__.py
  plugins/note_taker/__init__.py
  plugins/note_taker/plugin.py
  plugins/simple_test/__init__.py
  plugins/simple_test/plugin.py
  plugins/slack_notifier/__init__.py
  plugins/weather_tool/__init__.py
  plugins/weather_tool/plugin.py
  start_cli.sh
  start_gary_zero.sh
  tests/__init__.py
Due: none

Fix plugin packaging and update start scripts (#274)
  examples/__init__.py
  framework/api/tunnel_proxy.py
  framework/helpers/kali_service.py
  framework/helpers/shell_ssh.py
  framework/helpers/task_models.py
  framework/helpers/task_scheduler_backup.py
  framework/session/implementations/kali_session.py
  plugins/calendar_integration/__init__.py
  plugins/data_summariser/__init__.py
  plugins/note_taker/__init__.py
  plugins/note_taker/plugin.py
  plugins/simple_test/__init__.py
  plugins/simple_test/plugin.py
  plugins/slack_notifier/__init__.py
  plugins/weather_tool/__init__.py
  plugins/weather_tool/plugin.py
  start_cli.sh
  start_gary_zero.sh
  tests/__init__.py
Due: none

do it
  .gitignore
  .vscode/extensions.json
  deploy_db_fix.sh
  fix_railway_db.py
  railway_db_test.py
  railway_tunnel_test.py
  test_db_connection.py
Due: prettier --write

Deprecate unused files & add migration notes
  .github/workflows/railway-deployment.yml
  CHANGELOG.md
  nixpacks.toml
Due: prettier --write
