Repository GaryOcean428/gary-zero: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ruff check --fix, black, isort

Fix duplicate user message issue by tracking locally created messages (#112)
  webui/index.js
Due: eslint --fix, prettier --write

Fix settings panel to show missing model types and improve tab functionality (#114)
  framework/api/settings_get.py
  framework/helpers/settings.py
  webui/index.html
  webui/js/settings.js
Due: eslint --fix, prettier --write

Fix excessive polling logs by conditionally disabling verbose /poll endpoint logging (#116)
  webui/index.js
Due: eslint --fix, prettier --write

[WIP] Agent framework requires secure, isolated environment for running AI-generated code and tools. (#118)
  SECURE_EXECUTION.md
  framework/executors/__init__.py
  framework/executors/base_executor.py
  framework/executors/docker_executor.py
  framework/executors/e2b_executor.py
  framework/executors/secure_manager.py
  framework/tools/code_execution_tool.py
  framework/tools/secure_code_execution.py
  requirements.in
  requirements.txt
  test_integration.py
  test_secure_execution.py
  validate_secure_execution.py
Due: prettier --write

Fix settings panel to display all 11 sections instead of just 1 (#121)
  framework/helpers/settings/api.py
  framework/helpers/settings/field_builders.py
  framework/helpers/settings/types.py
Due: none

Fix packaging dependency conflict preventing Railway deployment (#123)
  requirements.in
  requirements.txt
  test_packaging_fix.py
Due: none

Update model catalog with comprehensive 2025+ models including xAI grok-3 and grok-4-latest (#125)
  framework/helpers/model_catalog.py
Due: none

Fix missing convert_in function causing 500 errors on settings save (#129)
  framework/helpers/settings/__init__.py
  framework/helpers/settings/api.py
Due: none

Convert model name fields from text inputs to dropdown selects with available models (#127)
  framework/helpers/settings/field_builders.py
  webui/js/settings.js
Due: eslint --fix, prettier --write

Add grok-3-mini model to xAI provider dropdown in settings (#131)
  framework/helpers/model_catalog.py
Due: none

Add missing latest AI models to model catalog dropdowns (#135)
  framework/helpers/model_catalog.py
Due: none

Fix SSH connection failure with graceful fallback to local execution (#137)
  .env.example
  SSH_FALLBACK_FIX.md
  framework/helpers/execution_mode.py
  framework/tools/code_execution_tool.py
  framework/tools/searchxng.py
  prompts/default/agent.system.main.environment.md
  prompts/default/agent.system.tool.code_exe.md
  prompts/default/agent.system.tool.searchxng.md
  prompts/default/agent.system.tools.md
  railway.toml
  scripts/validate_integrations.py
  test_ssh_fallback.py
  test_ssh_issue_fix.py
Due: prettier --write

Fix type conversion error in history context size calculation
  framework/helpers/history.py
Due: none

Fix type conversion error in history context size calculation (#138)
  framework/helpers/history.py
Due: none

🔒 Fix CSP policy to allow blob: URLs for dynamic imports on Railway production (#144)
  run_ui.py
Due: none

Fix model name fields to use dropdown selects instead of text inputs (#145)
  framework/helpers/model_catalog.py
  framework/helpers/settings.py
Due: none

[WIP] ⚠️ MEDIUM: Uncaught promise rejections causing silent failures (#148)
  tests/promise-rejection-handling.test.js
  webui/error-demo.html
  webui/index.html
  webui/index.js
  webui/js/error-boundary.js
  webui/js/error-reporting.js
Due: eslint --fix, prettier --write

🎯 Fix Alpine.js component registration timing and duplication issues (#149)
  ALPINE_FIXES_VALIDATION.md
  tests/alpine-registration.test.js
  webui/js/alpine-registration.js
  webui/js/csp-alpine-fix.js
  webui/js/initFw.js
  webui/js/scheduler.js
  webui/js/settings.js
  webui/test-alpine-manager.html
Due: eslint --fix, prettier --write

Fix Alpine.js and Ace editor integration errors
  webui/components/settings/mcp/client/mcp-servers-store.js
Due: eslint --fix, prettier --write

Fix Alpine.js and Ace editor integration errors (#150)
  webui/components/settings/mcp/client/mcp-servers-store.js
Due: eslint --fix, prettier --write

🔧 Fix dynamic component import failures breaking modal system (#147)
  tests/component-loading.test.js
  webui/js/components.js
  webui/js/enhanced-ux.js
Due: eslint --fix, prettier --write

🧪 Enhanced Vitest configuration with Railway integration and CI/CD improvements (#146)
  .gitignore
  package.json
  railway.json
  tests/setup.js
  vitest.config.js
Due: eslint --fix, prettier --write

Update environment prompt for Railway/E2B deployment context
  prompts/default/agent.system.main.environment.md
Due: prettier --write

Update environment prompt for Railway/E2B deployment context (#151)
  prompts/default/agent.system.main.environment.md
Due: prettier --write

Comprehensive update for code execution tool with E2B and Railway context
  prompts/default/agent.system.tool.code_exe.md
Due: prettier --write

Create comprehensive Railway platform operations guide
  prompts/default/railway_operations_guide.md
Due: prettier --write

Create comprehensive tools reference for Railway/E2B environment
  prompts/default/tools_reference_railway.md
Due: prettier --write

Update main system prompt to include Railway/E2B documentation
  prompts/default/agent.system.main.md
Due: prettier --write

Create E2B and Docker Hub configuration guide
  prompts/default/e2b_docker_setup_guide.md
Due: prettier --write

Add comprehensive Railway/E2B documentation and prompts (#152)
  prompts/default/agent.system.main.md
  prompts/default/agent.system.tool.code_exe.md
  prompts/default/e2b_docker_setup_guide.md
  prompts/default/railway_operations_guide.md
  prompts/default/tools_reference_railway.md
Due: prettier --write

Update Docker Hub docs to clarify it's for giving Gary-Zero access to pull images for enhanced sandbox capabilities
  prompts/default/e2b_docker_setup_guide.md
Due: prettier --write

Update Docker Hub docs to clarify it's for giving Gary-Zero access to pull images for enhanced sandbox capabilities (#153)
  prompts/default/e2b_docker_setup_guide.md
Due: prettier --write

Update Docker Hub docs: clarify it's for Gary-Zero to pull images for sandbox capabilities, not for deployment
  prompts/default/e2b_docker_setup_guide.md
Due: prettier --write

Update Docker Hub docs: clarify it's for Gary-Zero to pull images for sandbox capabilities, not for deployment (#154)
  prompts/default/e2b_docker_setup_guide.md
Due: prettier --write

Add Docker Hub sandbox usage examples and best practices
  prompts/default/docker_hub_sandbox_examples.md
Due: prettier --write

Update tools reference to include Docker Hub enhanced capabilities
  prompts/default/tools_reference_railway.md
Due: prettier --write

Docs: Add Docker Hub sandbox capability documentation (#155)
  prompts/default/docker_hub_sandbox_examples.md
  prompts/default/tools_reference_railway.md
Due: prettier --write

Fix Alpine.js TypeError in sendMessage function when Alpine data is unavailable (#157)
  tests/alpine-sendmessage-fix.test.js
  webui/index.js
Due: eslint --fix, prettier --write

Update validation script to detect unresolved Railway reference variables and provide better diagnostics
  scripts/validate_integrations.py
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,md,css,html})
  ruff check --fix: any of: *.{py}
  black: any of: *.{py}
  isort: any of: *.{py}
