Repository GaryOcean428/gary-zero: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ruff check --fix, black, isort

Initialize Agent OS product documentation
  .agent-os/product/decisions.md
  .agent-os/product/mission.md
  .agent-os/product/roadmap.md
  .agent-os/product/tech-stack.md
  CLAUDE.md
Due: prettier --write

Fix missing normalize_name function import error
  .agent-os/product/decisions.md
  .agent-os/product/mission.md
  .env.example
  .github/workflows/ci.yml
  .github/workflows/enhanced-ci.yml
  .github/workflows/multi-persona-review.yml
  .pre-commit-config.yaml
  .warp/commands.yaml
  CHANGELOG.md
  CLAUDE.md
  README.md
  TASK_COMPLETION_SUMMARY.md
  docs/ai-models.md
  docs/credential-rotation-guide.md
  framework/helpers/mcp_handler_compat.py
  framework/helpers/settings.py
  health-check-results.json
  scripts/dev-server.sh
Due: prettier --write

Fix Agent OS validation script for railpack.json
  .agent-os/product/mission.md
  .agent-os/product/tech-stack.md
  docs/railway-deployment.md
  railway.toml
  scripts/agent_os_check.sh
Due: prettier --write

docs: Update Railway deployment and cloud environment documentation
  .agent-os/_inputs/activity-20250724.md
  .agent-os/agent-coordination/README.md
  .agent-os/architecture/README.md
  .agent-os/architecture/cloud-architecture.md
  .agent-os/deployment/README.md
  .agent-os/development-standards/README.md
  .agent-os/integrations/README.md
  .agent-os/monitoring/README.md
  .agent-os/security/README.md
  docs/CLOUD_ENVIRONMENT.md
  docs/README.md
  docs/railway-deployment.md
  scripts/smoke_tests.py
  scripts/verify_basic_auth_security.py
Due: prettier --write

fix: Add /healthz endpoint to emergency mode for Railway health checks
  wsgi.py
Due: none

CRITICAL FIX: Fix log initialization causing 500 errors in /poll endpoint
  agent.py
Due: none

fix: Fix get_current_model API to use settings instead of non-existent model functions
  framework/api/get_current_model.py
Due: none

fix: Add missing voice_model.svg and code_model.svg icons
  webui/public/code_model.svg
  webui/public/voice_model.svg
Due: none

fix: Fix MCPConfig servers attribute error in system prompt
  framework/extensions/system_prompt/_10_system_prompt.py
Due: none

CRITICAL FIX: Resolve Task hashability and missing get_rate_limiter errors
  docs/ai-models.md
  framework/helpers/task_models.py
  models/__init__.py
Due: prettier --write

feat: Add missing xAI (Grok) provider implementation
  models.py
Due: none

Fix Task hashability and models.py error handling - skip pre-commit hooks for critical deployment
  framework/helpers/task_manager.py
  models.py
Due: none

CRITICAL FIX: Replace invalid model configurations with valid existing models
  framework/helpers/settings/types.py
Due: none

Add comprehensive error handling to all model initialization methods in agent.py
  agent.py
Due: none

Add comprehensive model validation script - CONFIRMED ROOT CAUSE: Missing API keys
  validate_models.py
Due: none

do it
  .agent-os/development-standards/DEVELOPMENT_STANDARDS.md
  .github/workflows/main-branch.yml
  CLEANUP_SUMMARY.md
  README.md
  docs/AGENT_OS_SPECS_ANNOUNCEMENT.md
  docs/DISCORD_ANNOUNCEMENT.md
  docs/RAILWAY_DEPLOYMENT_CONSOLIDATED.md
  docs/RAILWAY_DEPLOYMENT_PLAYBOOK.md
  framework/helpers/settings.py
  framework/security/db_auth.py
  specs/cloud_services_integration_overview.md
  specs/morphism_service_spec.md
  specs/postgresql_prisma_service_spec.md
  specs/redis_service_spec.md
  specs/security_compliance_requirements.md
  validate_env.py
  validate_kali_integration.py
Due: prettier --write

do it
  MODEL_VERIFICATION_REPORT.md
  debug_api_keys.py
  framework/security/db_auth.py
  railway_debug.py
  test_openai_minimal.py
  validate_kali_integration.py
Due: prettier --write

do it
  model_audit_comparison_matrix.md
Due: prettier --write

do it
  docs/DEPLOYMENT-GUIDE.md
  docs/ai-models.md
  docs/ai-models/additional_ai_models_research.md
  docs/ai-models/agents_and_code_research.md
  docs/ai-models/ai_providers_models_research.md
  docs/ai-models/ai_providers_models_research.pdf
  docs/ai-models/comprehensive_api_documentation.md
  docs/ai-models/openai_all_models_research.md
  models/registry.py
Due: prettier --write

Create gemini-model-list.md
  cline_docs/gemini-model-list.md
Due: prettier --write

Update gemini-model-list.md
  cline_docs/gemini-model-list.md
Due: prettier --write

Create OpenAI-models.md
  cline_docs/OpenAI-models.md
Due: prettier --write

Update OpenAI-models.md
  cline_docs/OpenAI-models.md
Due: prettier --write

do it
  .vscode/extensions.json
  .yarn/install-state.gz
  cline_docs/OpenAI-models.md
  cline_docs/gemini-model-list.md
  docs/ai-models/ai-models.csv
  framework/api/get_models_for_provider.py
  framework/helpers/model_catalog.py
  framework/helpers/model_parameters.py
  framework/helpers/settings.py
  models.py
  models/__init__.py
  models/registry.py
  package-lock.json
  package.json
  webui/css/webui-styles.css
  webui/index.html
  webui/js/logger.js
  webui/js/settings.js
  yarn.lock
Due: eslint --fix, prettier --write

Fix pre-commit Node.js version configuration
  .pre-commit-config.yaml
Due: none

fix: Add automatic model migration system for deprecated model names
  MODEL_MISMATCH_FIX_SUMMARY.md
  framework/helpers/settings/api.py
  framework/helpers/settings/migrate.py
  framework/helpers/settings/types.py
Due: prettier --write

Update openai_all_models_research.md
  docs/ai-models/openai_all_models_research.md
Due: prettier --write

Create model_manifest.md
  docs/model_manifest.md
Due: prettier --write

Fix models import to load models.py properly
  models/__init__.py
Due: none

Add GPT-5 model support and docs
  docs/ai-models.md
  docs/ai-models/gpt-5-examples.md
  framework/helpers/model_parameters.py
Due: prettier --write

Fix get_data signature to accept default parameter and avoid positional argument errors
  agent.py
Due: none

Fix get_data default argument and ensure model_catalog changes staged
  framework/helpers/model_catalog.py
Due: none

Add Claude Code CLI integration tool and usage prompt
  framework/tools/claude_code_cli.py
  prompts/default/fw.claude_cli.usage.md
Due: prettier --write

Fix get_terminal_output to avoid KeyError when session missing
  framework/tools/code_execution_tool.py
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,md,css,html})
  ruff check --fix: any of: *.{py}
  black: any of: *.{py}
  isort: any of: *.{py}
