Repository GaryOcean428/gary-zero: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ruff check --fix, black, isort

Fix emergency health and ready endpoints to accept GET requests explicitly
  wsgi.py
Due: none

Add diagnostics API handler for testing SearchXNG and other integrations
  framework/api/diagnostics.py
Due: none

Add SearchXNG connectivity test script
  scripts/test_searchxng.py
Due: none

Improve SearchXNG tool with better Railway fallback handling
  framework/tools/searchxng.py
Due: none

Add SearchXNG integration documentation
  docs/SEARCHXNG_INTEGRATION.md
Due: prettier --write

Update railway.json with better health check configuration and execution mode settings
  railway.json
Due: prettier --write

Add health check script for testing Railway deployment
  scripts/health_check.sh
Due: none

Add summary of SearchXNG integration fixes
  SEARCHXNG_FIX_SUMMARY.md
Due: prettier --write

Add commit summary for SearchXNG integration fixes
  COMMIT_SUMMARY.md
Due: prettier --write

Fix chat UI toggle functionality for system thoughts and utility messages (#159)
  webui/index.html
  webui/index.js
Due: eslint --fix, prettier --write

Fix Docker build dependency conflicts in requirements.txt (#163)
  =2.11.0
  SYSTEM_ARCHITECTURE_INTEGRATION.md
  SYSTEM_IMPROVEMENTS_CHECKLIST.md
  agent.py
  framework/api/get_model_parameters.py
  framework/executors/e2b_executor.py
  framework/helpers/model_parameters.py
  framework/helpers/quality_control.py
  framework/helpers/settings.py
  framework/helpers/settings/types.py
  framework/helpers/supervisor_agent.py
  framework/helpers/task_manager.py
  framework/helpers/task_persistence.py
  requirements.txt
  webui/js/settings.js
Due: eslint --fix, prettier --write

Fix Claude 4 Sonnet model name in default settings
  framework/helpers/settings/types.py
Due: none

Fix Claude 4 model names to use -latest format
  framework/helpers/settings/types.py
Due: none

Update Claude 4 model names in catalog to use -latest format
  framework/helpers/model_catalog.py
Due: none

Update Claude 4 model parameter keys to use -latest format
  framework/helpers/model_parameters.py
Due: none

Fix Claude 4 Sonnet model name in default settings (#167)
  framework/helpers/settings/types.py
Due: none

Fix Python 3.13 compatibility and Claude model configuration errors (#169)
  .coverage
  .github/workflows/python-package.yml
  Dockerfile
  docker/run/Dockerfile.cuda
  framework/executors/docker_executor.py
  framework/helpers/faiss_monkey_patch.py
  framework/helpers/mcp_handler.py
  framework/helpers/memory.py
  framework/helpers/model_catalog.py
  framework/helpers/model_parameters.py
  framework/helpers/settings/types.py
  framework/helpers/vector_db.py
  nixpacks.toml
  pyproject.toml
  setup.py
Due: none

Fix httpx RemoteProtocolError with retry logic and proper error handling (#171)
  agent.py
Due: none

Migrate Gary-Zero from Flask to FastAPI with security, modern packaging, and Railway optimization (#173)
  FASTAPI_MIGRATION.md
  api_bridge.py
  api_bridge_simple.py
  main.py
  models/__init__.py
  models/registry.py
  pyproject.toml
  pytest.ini
  railway.toml
  requirements.in
  security/__init__.py
  security/validator.py
  tests/conftest.py
  tests/e2e/test_web_ui.py
  tests/integration/test_api_bridge.py
  tests/integration/test_multi_agent.py
  tests/performance/test_concurrent_agents.py
  tests/unit/test_fastapi_app.py
  tests/unit/test_model_registry.py
  tests/unit/test_security_validator.py
Due: prettier --write

Fix Railway deployment error: Resolve PORT environment variable properly (#175)
  railway.toml
  start_uvicorn.py
  test_railway_fix.py
Due: none

Migrate to Python 3.13-only and ensure Railway port configuration compliance (#187)
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  RAILWAY_DEPLOYMENT.md
  docs/installation.md
  knowledge/default/main/about/installation.md
  pyproject.toml
  railway.json
  railway.toml
Due: prettier --write

Integrate Google Gemini Live API for Real-Time Voice & Video Streaming (#181)
  .env.example
  api/__init__.py
  api/gemini_live_api.py
  demo_gemini_live.py
  docs/gemini-live-api.md
  integration_showcase.py
  main.py
  requirements.in
  test_gemini_live.py
  test_gemini_live_basic.py
  webui/components/settings/gemini-live/gemini-live-settings.html
Due: prettier --write

Add Anthropic Computer Use & Claude Code Integration for Desktop and CLI Automation (#182)
  agent.py
  docs/tools/README.md
  docs/tools/anthropic-computer-use-claude-code.md
  framework/helpers/settings.py
  framework/helpers/settings/api.py
  framework/helpers/settings/section_builders.py
  framework/helpers/settings/types.py
  framework/tools/anthropic_computer_use.py
  framework/tools/claude_code.py
  gary_zero.egg-info/PKG-INFO
  gary_zero.egg-info/SOURCES.txt
  gary_zero.egg-info/dependency_links.txt
  gary_zero.egg-info/entry_points.txt
  gary_zero.egg-info/requires.txt
  gary_zero.egg-info/top_level.txt
  models/__init__.py
  tests/test_anthropic_computer_use.py
  tests/test_claude_code.py
  tests/test_settings_integration.py
Due: prettier --write

[WIP] Implement A2A and MCP Protocol Compliance for Multi-Agent Interoperability (#183)
  A2A_IMPLEMENTATION_SUMMARY.md
  api_bridge_simple.py
  docs/a2a_protocol.md
  docs/a2a_setup.md
  framework/a2a/__init__.py
  framework/a2a/agent_card.py
  framework/a2a/communication.py
  framework/a2a/discovery.py
  framework/a2a/negotiation.py
  framework/a2a/streaming.py
  framework/api/a2a_agent_card.py
  framework/api/a2a_discover.py
  framework/api/a2a_mcp_tools.py
  framework/api/a2a_message.py
  framework/api/a2a_negotiate.py
  framework/api/a2a_notify.py
  framework/api/a2a_stream.py
  main.py
  test_a2a_interoperability.py
  webui/components/settings/a2a/a2a-config.html
Due: prettier --write

Adopt OpenAI Agents SDK for Standardized Agent Loops, Guardrails & Handoff (#184)
  SDK_IMPLEMENTATION_SUMMARY.md
  agent.py
  demo_sdk_integration.py
  docs/SDK_INTEGRATION.md
  framework/helpers/agent_tools_wrapper.py
  framework/helpers/agent_tracing.py
  framework/helpers/agents_sdk_wrapper.py
  framework/helpers/guardrails.py
  framework/helpers/sdk_integration.py
  main.py
  requirements.in
Due: prettier --write

fix: Remove deprecated --show-source flag from ruff linter command
  .github/workflows/python-package.yml
Due: none

[WIP] Integrate OpenAI Codex CLI & Google Gemini CLI for Local Code & Terminal Tools (#185)
  demo_cli_integration.py
  framework/helpers/settings.py
  framework/helpers/settings/types.py
  framework/tools/google_gemini_cli.py
  framework/tools/openai_codex_cli.py
  instruments/default/google_gemini/README.md
  instruments/default/google_gemini/install.sh
  instruments/default/openai_codex/README.md
  instruments/default/openai_codex/install.sh
  prompts/default/fw.codex_cli.usage.md
  prompts/default/fw.gemini_cli.usage.md
  test_cli_integration.py
Due: prettier --write

feat: Add script to regenerate requirements.txt from requirements.in
  scripts/regenerate_requirements.py
Due: none

feat: Add CI workflow to validate dependency synchronization
  .github/workflows/dependency-validation.yml
Due: none

feat: Add pre-commit hook to auto-sync requirements files
  .husky/sync-requirements
Due: none

Fix GitHub Actions CI pipeline failures due to ruff undefined name errors (#189)
  .coverage
  api_bridge.py
  framework/helpers/agent_tools_wrapper.py
  framework/helpers/agents_sdk_wrapper.py
  framework/helpers/sdk_integration.py
  requirements-dev.txt
Due: none

CRITICAL: Fix FastAPI missing from requirements.txt causing production deployment failures (#191)
  requirements.in
  requirements.txt
Due: none

Fix Railway deployment failure by adding PortAudio system dependencies for pyaudio (#194)
  Dockerfile
  docs/railway-pyaudio-fix.md
  test_pyaudio_import.py
Due: prettier --write

Implement Kali Linux Docker service integration with Railway reference variables (#196)
  .env.example
  ai_visualization_validation_report.json
  demo_ai_visualization.py
  demo_kali_integration.py
  docs/AI_ACTION_VISUALIZATION.md
  docs/KALI_INTEGRATION.md
  framework/helpers/ai_action_interceptor.py
  framework/helpers/ai_action_streaming.py
  framework/helpers/ai_visualization_init.py
  framework/helpers/execution_mode.py
  framework/helpers/kali_executor.py
  framework/helpers/kali_service.py
  framework/tools/ai_action_visualization.py
  framework/tools/shell_execute.py
  kali_integration_validation_report.txt
  main.py
  prompts/default/agent.system.main.md
  prompts/default/shell_integration_guide.md
  railway.toml
  test_kali_integration.py
  validate_ai_visualization.py
  validate_kali_integration.py
  webui/index.html
  webui/js/ai-action-visualization.js
  webui/js/shell-iframe.js
Due: eslint --fix, prettier --write

Copilot/fix 195 (#199)
  ai_visualization_validation_report.json
  kali_integration_validation_report.txt
Due: prettier --write

Modernize AI model catalog to prioritize post-June 2024 models (#198)
  demo_cli_integration.py
  framework/helpers/agents_sdk_wrapper.py
  framework/helpers/model_catalog.py
  framework/helpers/perplexity_search.py
  framework/helpers/sdk_integration.py
  test_model_modernization.py
Due: none

Fix ModuleNotFoundError by implementing missing instruments.custom.gemini_live package (#203)
  gary_zero.egg-info/top_level.txt
  instruments/__init__.py
  instruments/custom/__init__.py
  instruments/custom/gemini_live/__init__.py
  instruments/custom/gemini_live/gemini_live_tool.py
  instruments/custom/gemini_live/streaming_client.py
  setup.py
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,md,css,html})
  ruff check --fix: any of: *.{py}
  black: any of: *.{py}
  isort: any of: *.{py}
