Repository GaryOcean428/gary-zero: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ruff check --fix, black, isort

[WIP] Continue (#44)
  .env.example
  .husky/pre-commit
  .nvmrc
  DEPLOYMENT.md
  ENV_AUDIT.md
  PHASE1_COMPLETION.md
  PHASE2_PROGRESS.md
  PHASE3_IMPLEMENTATION.md
  docker/run/fs/exe/node_eval.js
  eslint.config.js
  framework/extensions/message_loop_end/_10_organize_history.py
  framework/helpers/dirty_json.py
  framework/helpers/runtime_fixed.py
  models.py
  railway.toml
  tests/infrastructure.test.js
Due: eslint --fix, prettier --write

Fix TOML syntax error in railway.toml configuration (#48)
  docs/railway-deployment.md
  railway.toml
Due: prettier --write

Update model configurations to support only specification-approved models (#50)
  framework/helpers/settings.py
  framework/helpers/settings/types.py
  models.py
Due: none

Fix Railway deployment configuration issues (#52)
  Procfile
  RAILWAY_DEPLOYMENT.md
  app.py
  nixpacks.toml
  railway.toml
  requirements.txt
Due: prettier --write

Fix Railway deployment configuration conflicts and optimize production settings (#54)
  railway.toml
Due: none

Fix $PORT error in Railway deployment by correcting startCommand in railway.toml (#57)
  railway.toml
Due: none

Fix Railway PORT environment variable parsing for deployment (#59)
  RAILWAY_FIX_DOCUMENTATION.md
  framework/helpers/runtime.py
  railway.json
  railway.toml
Due: prettier --write

Add @vscode/test-web integration with VS Code-style UI for Railway deployment (#61)
  gide-agent.json
  package-lock.json
  package.json
  railway.json
  railway.toml
  scripts/postinstall.js
  webui/index.html
  webui/js/vscode-integration.js
  webui/vscode-setup.js
Due: eslint --fix, prettier --write

Fix Alpine.js console error: Add missing isLoading property to settingsModalProxy (#63)
  webui/js/settings.js
Due: eslint --fix, prettier --write

🚨 Fix Railway Deployment Timeout by Ensuring Consistent Nixpacks Usage (#67)
  .railway-ignore
  Dockerfile.local
  RAILWAY_DEPLOYMENT_TIMEOUT_FIX.md
  nixpacks.toml
  railway.json
  railway.toml
Due: prettier --write

Create dockerfile
  dockerfile
Due: none

Create Dockerfile
  Dockerfile
Due: none

🐳 Optimize Dockerfile: Migrate to Alpine Base Image for Railway Compatibility (#66)
  ALPINE_MIGRATION.md
Due: prettier --write

⚙️ Configure Railway Environment Variables & PORT Settings (#70)
  .env.example
  Dockerfile
  env_validator.py
  example.env
  railway.toml
Due: none

[WIP] ⏱️ Configure Railway Build Timeout & Retry Mechanisms (#71)
  Dockerfile
  docs/railway-build-config.md
  railway.toml
  scripts/build_monitor.py
  scripts/verify_railway_config.py
Due: prettier --write

🚫 Fix Railway Deployment Cache Mount Format Error (#73)
  Dockerfile
Due: none

[WIP] 🔧 Comprehensive QA & System Optimization Initiative (#75)
  .bundlesizerc.json
  .eslintrc.override.js
  QA_IMPLEMENTATION_SUMMARY.md
  package-lock.json
  package.json
  scripts/health-check.sh
  scripts/phase1-audit.sh
  scripts/quality-improvements.sh
  tests/error-boundary.test.js
  tsconfig.json
  webui/js/error-boundary.js
  webui/js/logger.js
  webui/types/global.d.ts
Due: eslint --fix, prettier --write

Copilot/fix 69 (#76)
  Dockerfile
Due: none

Fix build_monitor.py code review issues: progress logging, import handling, and flag detection (#78)
  scripts/build_monitor.py
Due: none

Fix dependency resolution and code quality violations (#80)
  framework/helpers/job_loop.py
  framework/helpers/print_catch.py
  requirements.in
  requirements.txt
Due: none

Delete Dockerfile.local
  Dockerfile.local
Due: none

Update Dockerfile
  Dockerfile
Due: none

Fix Railway health check deployment failures by switching to production Gunicorn server (#82)
  Dockerfile
  RAILWAY_HEALTH_CHECK_FIX.md
  railway.toml
  run_ui.py
  startup_validation.py
  test_deployment.py
  wsgi.py
Due: prettier --write

Fix Docker CMD environment variable expansion for Railway PORT binding (#84)
  Dockerfile
Due: none

Fix PORT variable expansion in Docker CMD and Railway configuration (#86)
  Dockerfile
  railway.toml
  test_port_config.py
Due: none

fix: implement entrypoint script for robust PORT handling on Railway deployment (#88)
  Dockerfile
  docker-entrypoint.sh
  railway.toml
  test_port_config.py
Due: none

Fix SecretStr unwrapping for OpenAI models in Railway deployment (#90)
  models.py
Due: none

Fix F821 undefined name 'e' in wsgi.py exception handling scope (#92)
  wsgi.py
Due: none

Fix production LangChain streaming errors and enhance chat input UX (#94)
  .env.example
  PRODUCTION_DEPLOYMENT.md
  models.py
  run_ui.py
  validate_env.py
  verify_fixes.py
  webui/index.css
  webui/index.html
  webui/js/chat-input-autoresize.js
  webui/js/initFw.js
  webui/js/settings.js
  webui/js/vscode-integration.js
Due: eslint --fix, prettier --write

Fix critical JavaScript runtime errors in chat input functionality (#96)
  docs/frameworks/playwright.md
  docs/frameworks/vite.md
  docs/frameworks/vitest.md
  tests/dom-fixes.test.js
  tests/error-boundary.test.js
  webui/index.html
  webui/js/chat-input-autoresize.js
  webui/js/dom-helpers.js
  webui/js/error-boundary.js
Due: eslint --fix, prettier --write

Fix chat input auto-resize MutationObserver error and settings panel Alpine.js initialization (#98)
  webui/js/chat-input-autoresize.js
  webui/js/settings.js
Due: eslint --fix, prettier --write

Fix chat input functionality and horizontal resize - resolves typing, send button, and settings modal issues (#100)
  webui/index.css
  webui/index.html
  webui/js/chat-input-autoresize.js
Due: eslint --fix, prettier --write

Implement filterable chat model dropdown in Agent Settings (#104)
  framework/api/get_models_for_provider.py
  framework/helpers/model_catalog.py
  framework/helpers/settings.py
  framework/helpers/settings/api.py
  webui/index.html
  webui/js/settings.js
Due: eslint --fix, prettier --write

Fix search engine failure in Railway deployment by replacing SearXNG with DuckDuckGo (#106)
  .env.example
  Dockerfile
  VOLUME_SETUP.md
  framework/helpers/duckduckgo_search.py
  framework/helpers/searxng.py
  framework/tools/search_engine.py
  railway.toml
  scripts/init_volumes.py
  scripts/migrate_to_volumes.py
Due: prettier --write

Fix Docker build failure: Include scripts/init_volumes.py in build context (#108)
  .dockerignore
Due: none

Fix ModuleNotFoundError for Response import in scheduler.py (#110)
  framework/tools/scheduler.py
  scripts/validate_framework.py
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,md,css,html})
  ruff check --fix: any of: *.{py}
  black: any of: *.{py}
  isort: any of: *.{py}
